# Virtual Environment
venv/
.venv/
env/

# Python cache & build
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE & Editor settings
.vscode/
.idea/

# Archives & Temporary files
*.zip
*.tar.gz
*.rar

# OS specific files
.DS_Store
Thumbs.db
